* {
    box-sizing: border-box;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.navbar,
.burger,
.menu,
.background {
    position: fixed;
}

.background {
    z-index: 3;
    top: 0;
    right: 0;
    display: 0;
    display: grid;
    place-items: center;
    width: 72px;
    height: 72px;
    background-image: url("menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}