/* GENERAL CSS */
* {
    background-color: #000;
    color: #FFF;
}

.navbar {
    width: 100%;
    background-color: #000;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: #877512;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    /* Four links of equal widths */
    text-align: center;
}

.navbar a:hover {
    background-color: #FFF;
    color: #877512;
}

.navbar a.active {
    background-color: #FF0000;
    color: #000 !important;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* Global */
/* navbar start */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #191919;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFF !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FF0000;
}

.active {
    background-color: #FF0000;
}

.navbar {
    float: right;
}

.logo:hover {
    background-color: #191919 !important;
    color: #FF0000 !important;
}

/* navbar end */
.pagetitle {
    color: #FFF !important;
    margin-top: 1.5rem !important;
    text-align: center;
    text-decoration: underline;
}

/* _____________________________________________________ */
/* MARGIN & PADDING */
/* Margin */
.m0 {
    margin: 0 !important;
}

.m1 {
    margin: 0.25rem !important;
}

.m2 {
    margin: 0.5rem !important;
}

.m3 {
    margin: 1rem !important;
}

.m4 {
    margin: 1.5rem !important;
}

.m5 {
    margin: 3rem !important;
}

.mauto {
    margin: auto !important;
}

/* Margin Top */
.mt0 {
    margin-top: 0 !important;
}

.mt1 {
    margin-top: 0.25rem !important;
}

.mt2 {
    margin-top: 0.5rem !important;
}

.mt3 {
    margin-top: 1rem !important;
}

.mt4 {
    margin-top: 1.5rem !important;
}

.mt5 {
    margin-top: 3rem !important;
}

.mtauto {
    margin-top: auto !important;
}

/* Margin Right */
.mr0 {
    margin-right: 0 !important;
}

.mr1 {
    margin-right: 0.25rem !important;
}

.mr2 {
    margin-right: 0.5rem !important;
}

.mr3 {
    margin-right: 1rem !important;
}

.mr4 {
    margin-right: 1.5rem !important;
}

.mr5 {
    margin-right: 3rem !important;
}

.mrauto {
    margin-right: auto !important;
}

/* Margin Bottom */
.mb0 {
    margin-bottom: 0 !important;
}

.mb1 {
    margin-bottom: 0.25rem !important;
}

.mb2 {
    margin-bottom: 0.5rem !important;
}

.mb3 {
    margin-bottom: 1rem !important;
}

.mb4 {
    margin-bottom: 1.5rem !important;
}

.mb5 {
    margin-bottom: 3rem !important;
}

.mbauto {
    margin-bottom: auto !important;
}

/* Margin Left */
.ml0 {
    margin-left: 0 !important;
}

.ml1 {
    margin-left: 0.25rem !important;
}

.ml2 {
    margin-left: 0.5rem !important;
}

.ml3 {
    margin-left: 1rem !important;
}

.ml4 {
    margin-left: 1.5rem !important;
}

.ml5 {
    margin-left: 3rem !important;
}

.mlauto {
    margin-left: auto !important;
}

/* Padding */
.p0 {
    padding: 0 !important;
}

.p1 {
    padding: 0.25rem !important;
}

.p2 {
    padding: 0.5rem !important;
}

.p3 {
    padding: 1rem !important;
}

.p4 {
    padding: 1.5rem !important;
}

.p5 {
    padding: 3rem !important;
}

.pauto {
    padding: auto !important;
}

/* Padding Top */
.pt0 {
    padding-top: 0 !important;
}

.pt1 {
    padding-top: 0.25rem !important;
}

.pt2 {
    padding-top: 0.5rem !important;
}

.pt3 {
    padding-top: 1rem !important;
}

.pt4 {
    padding-top: 1.5rem !important;
}

.pt5 {
    padding-top: 3rem !important;
}

.ptauto {
    padding-top: auto !important;
}

/* Padding Right */
.pr0 {
    padding-right: 0 !important;
}

.pr1 {
    padding-right: 0.25rem !important;
}

.pr2 {
    padding-right: 0.5rem !important;
}

.pr3 {
    padding-right: 1rem !important;
}

.pr4 {
    padding-right: 1.5rem !important;
}

.pr5 {
    padding-right: 3rem !important;
}

.prauto {
    padding-right: auto !important;
}

/* Padding Bottom */
.pb0 {
    padding-bottom: 0 !important;
}

.pb1 {
    padding-bottom: 0.25rem !important;
}

.pb2 {
    padding-bottom: 0.5rem !important;
}

.pb3 {
    padding-bottom: 1rem !important;
}

.pb4 {
    padding-bottom: 1.5rem !important;
}

.pb5 {
    padding-bottom: 3rem !important;
}

.pbauto {
    padding-bottom: auto !important;
}

/* Padding Left */
.pl0 {
    padding-left: 0 !important;
}

.pl1 {
    padding-left: 0.25rem !important;
}

.pl2 {
    padding-left: 0.5rem !important;
}

.pl3 {
    padding-left: 1rem !important;
}

.pl4 {
    padding-left: 1.5rem !important;
}

.pl5 {
    padding-left: 3rem !important;
}

.plauto {
    padding-left: auto !important;
}

.pl200 {
    padding-left: 200px;
}

.pr200 {
    padding-right: 200px;
}

/* _____________________________________________________ */
/* TEXT STYLING */
.bold {
    font-weight: bold;
}

.caps {
    text-transform: uppercase;
}

.centered {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.underlined {
    text-decoration: underline;
}

.centunder {
    text-align: center;
    text-decoration: underline;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* _____________________________________________________ */
/* COLORS */
/* Text Colors */
.black {
    color: #000 !important;
}

.hblack:hover {
    color: #000 !important;
    color: #FFF;
}

.white {
    color: #fff !important;
}

.red {
    color: #FF0000 !important;
}

.hred:hover {
    color: #FF0000 !important;
    color: #FFF;
}

.blue {
    color: #0000FF !important;
}

.orange {
    color: #FF8C00 !important;
}

.yellow {
    color: #FFFF00 !important;
}

.green {
    color: #008000 !important;
}

.violet {
    color: #9400D3 !important;
}

.pink {
    color: #FF1493 !important;
}

/* Background Colors */
.bgblack {
    background: #000 !important;
}

.bgwhite {
    background: #fff !important;
}

.bgred {
    background: #FF0000 !important;
}

.bgblue {
    background: #0000FF !important;
}

.bgorange {
    background: #FF8C00 !important;
}

.bgyellow {
    background: #FFFF00 !important;
}

.bggreen {
    background: #008000 !important;
}

.bgviolet {
    background: #9400D3 !important;
}

.bgpink {
    background: #FF1493 !important;
}

/* Border Colors */
.blackborder {
    border: 1px solid #000 !important;
}

.whiteborder {
    border: 1px solid #fff !important;
}

.redborder {
    border: 1px solid #FF0000 !important;
}

.blueborder {
    border: 1px solid #0000FF !important;
}

.orangeborder {
    border: 1px solid #FF8C00 !important;
}

.yellowborder {
    border: 1px solid #FFFF00 !important;
}

.greenborder {
    border: 1px solid #008000 !important;
}

.violetborder {
    border: 1px solid #9400D3 !important;
}

.pinkborder {
    border: 1px solid #FF1493 !important;
}

/* _____________________________________________________ */
/* LANDING.HTML CSS */
body,
h1 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%
}

.bgimg {
    background-image: url('/w3images/forestbridge.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

#enter {
    background-color: #FF0000;
    border: none;
    padding: 15px 32px;
    font-size: 169px;
    cursor: pointer;
}

/* _____________________________________________________ */
/* INDEX.HTML CSS */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blue;
    padding: 10px;
}

.grid-item {
    background-color: #FF0000;
    color: #000;
    border: 2px solid #FFF;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/* _____________________________________________________ */
/* GAMES.HTML CSS */

/* Create three equal columns that floats next to each other */

/* _____________________________________________________ */
/* CW.HTML CSS */

/* _____________________________________________________ */
/* MW.HTML CSS */

/* _____________________________________________________ */
/* VANGUARD.HTML CSS */

/* _____________________________________________________ */
/* SETTINGS.HTML CSS */

/* _____________________________________________________ */
/* SOCIALS.HTML CSS */

/* _____________________________________________________ */
/* UPDATES.HTML CSS */

/* _____________________________________________________ */
/* LANDING.HTML CSS */

/* _____________________________________________________ */
/* LANDING.HTML CSS */

/* _____________________________________________________ */
/* LANDING.HTML CSS */

/* _____________________________________________________ */
/* LANDING.HTML CSS */

/* _____________________________________________________ */
/* LANDING.HTML CSS */

/* _____________________________________________________ */
/* LANDING.HTML CSS */

/* _____________________________________________________ */