<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        
        <select class="cl_country" id="ddlCountry">
            <option value="all">Select Class </option>
            <option value="India">india</option>
            <option value="usa">usa</option>
            <option value="uk">uk</option>
        </select>
        <select class="cl_age" id="ddlAge">
            <option value="all">Select Class </option>
            <option value="50">50</option>
            <option value="60">60</option>
            <option value="80">80</option>
        </select>
        <table style="width: 100%" id="table11" border="1">
            <tr>
                <th>name</th>
                <th>country</th>
                <th>Age</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>USA</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>UK</td>
                <td>50</td>
            </tr>
            <tr>
                <td>John</td>
                <td>INDIA</td>
                <td>80</td>
            </tr>
            <tr>
                <td>sam</td>
                <td>AUSTRALIA</td>
                <td>80</td>
            </tr>
            <tr>
                <td>joe</td>
                <td>INDIA</td>
                <td>60</td>
            </tr>
            <tr>
                <td>alan</td>
                <td>USA</td>
                <td>60</td>
            </tr>
        </table>
        
        <script src="custom.js"></script>
    </body>
</html>